<div class="view-request">
  <div class="card" *ngIf="request$ | async as request">
    <h4 class="card-header">{{'REQUEST.MAIN' | translate}} {{request?.id}}</h4>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <label class="view-request__title">{{'REQUEST.TITLE.LABEL' | translate}}</label>
        <label class="view-request__value">{{request?.title}}</label>
      </li>
      <li class="list-group-item">
        <label class="view-request__title">{{'REQUEST.DESCRIPTION.LABEL' | translate}}</label>
        <label class="view-request__value">{{request?.description}}</label>
      </li>
      <li class="list-group-item">
        <label class="view-request__title">{{'REQUEST.CREATION_DATE.LABEL' | translate}}</label>
        <label class="view-request__value">{{request?.creation_date}}</label>
      </li>
      <li class="list-group-item">
        <label class="view-request__title">{{'REQUEST.CUSTOMER.LABEL' | translate}}</label>
        <label class="view-request__value">{{request?.customer | formatCustomer}}</label>
      </li>
      <li class="list-group-item" *ngIf="request?.answer">
        <label class="view-request__title">{{'REQUEST.ANSWER.LABEL' | translate}}</label>
        <label class="view-request__value">{{request?.answer}}</label>
      </li>
      <li class="list-group-item">
        <label class="view-request__title">{{'REQUEST.STATE.LABEL' | translate}}</label>
        <label class="view-request__value">{{request?.state | state | translate}}</label>
      </li>
    </ul>
  </div>
</div>
