<div class="search-claims" [formGroup]="formGroup">
  <div class="search-claims-search">
    <div class="input-group mb-3">
      <input type="text" class="form-control" [placeholder]="'CLAIM.SEARCH.PLACEHOLDER' | translate" aria-label="Tipo, número o nombre de quien pertenece" aria-describedby="basic-addon2" formControlName="search">
      <div class="input-group-append">
        <button class="btn btn-success" type="button" (click)="search()">Buscar</button>
      </div>
    </div>
  </div>
  <div class="search-claims-table">
    <ngx-datatable
      class="material"
      columnMode="flex"
      rowHeight="auto"
      [rows]="claims$ | async"
      [headerHeight]="50"
      [footerHeight]="50"
      [loadingIndicator]="isLoadingClaims$ | async">
      <ngx-datatable-column prop="id" name="{{ 'CLAIM.ID.LABEL' | translate | uppercase }}" [flexGrow]="2">
      </ngx-datatable-column>
      <ngx-datatable-column prop="title" name="{{ 'CLAIM.TITLE.LABEL' | translate | uppercase }}" [flexGrow]="1">
      </ngx-datatable-column>
      <ngx-datatable-column prop="description" name="{{ 'CLAIM.DESCRIPTION.LABEL' | translate | uppercase }}" [flexGrow]="2">
      </ngx-datatable-column>
      <ngx-datatable-column prop="creation_date" name="{{ 'CLAIM.CREATION_DATE.LABEL' | translate | uppercase }}" [flexGrow]="1.2">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value | date:'dd/MM/yyyy' }}
      </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="customer" name="{{ 'CLAIM.CUSTOMER.LABEL' | translate | uppercase }}" [flexGrow]="2">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value | formatCustomer }}
      </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="request" name="{{ 'CLAIM.REQUEST.LABEL' | translate | uppercase }}" [flexGrow]="1">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value | formatRequest }}
      </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="{{ 'CLAIM.OPERATIONS' | translate | uppercase }}" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button mat-icon-button (click)="viewClaim(row?.id)">
            <mat-icon matSuffix>remove_red_eye</mat-icon>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

