<nav class="header navbar fixed-top navbar-light">
  <a class="navbar-brand" href="#">
    <img src="assets/images/logo-small.png" alt="">
  </a>
  <ul class="header__options navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" (click)="redirect(home)">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="redirect(claims)">Peticiones/Quejas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="redirect(requests)">Reclamos</a>
    </li>
  </ul>
</nav>
